/* CSS Reset */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* CSS Variables */

html[data-theme='dark'] {
    --postheadcolor: #f871a0;
    --paracolor: white;
}

html[data-theme='light'] {
    --postheadcolor: #c20e4d;
    --paracolor: #3f3f46;
}

/* Main Container */

.containerg {
    display: grid;
    grid-template-areas:
        'banner banner banner'
        'banner banner banner'
        'banner banner banner'
        'trending trending aside'
        'posts posts aside';
    grid-gap: 1rem;
    align-items: flex-start;
    justify-content: center;

    width: 100%;
    margin-left: auto;
    margin-right: auto;
    padding-left: 0.5rem;
    padding-right: 0.5rem;
}

/* Banner */

.banner {
    grid-area: banner;
    /* border: 2px solid var(--paracolor); */
    margin-top: 1rem;
}

.anchors {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-wrap: wrap;
    margin-top: 1rem;
    padding: 1rem;
}

.trendingg {
    grid-area: trending;
    padding: 0.5rem;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    gap: 0.5rem;
}

/* Aside */

.asideg {
    grid-area: aside;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    gap: 0.9rem;
}

.abouthead {
    padding: 1.3rem;
    color: var(--paracolor) !important;
}

.stats {
    padding: 1.3rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 1rem;
}

.info {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.created {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1rem;
}

/* Posts */

.postsg {
    grid-area: posts;
    display: flex;
    flex-direction: column;
    flex: wrap;
    flex-wrap: wrap;
}

.postg {
    margin: 1rem;
    cursor: pointer;
}

.postbodyg {
    display: flex;
    gap: 1rem;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center;
    text-wrap: balance;
}

.imgpostg {
    height: max-content;
    width: 50px;
}

.postfootg:hover {
    opacity: 0.7;
}

.flairpostg:hover {
    opacity: 0.7;
}

.postheadingg {
    color: var(--postheadcolor);
}

.postfootertxtg {
    color: var(--paracolor);
    font-size: 1rem;
    font-weight: 700;
    text-wrap: stable;
}

/* Media Queries */

/* xs */
@media (min-width: 475px) {
    .containerg {
        max-width: 475px;
    }
}

/* sm */
@media (min-width: 640px) {
    .containerg {
        max-width: 640px;
    }
}

/* md */
@media (min-width: 768px) {
    .containerg {
        max-width: 768px;
    }
}

/* lg */
@media (min-width: 1024px) {
    .containerg {
        max-width: 1024px;
    }
}

/* xl */
@media (min-width: 1280px) {
    .containerg {
        max-width: 1280px;
    }
}

/* 2xl */
@media (min-width: 1536px) {
    .containerg {
        max-width: 1536px;
    }
}

@media screen and (max-width: 1000px) {
    .trendingg {
        justify-content: center;
    }
}

@media screen and (max-width: 800px) {
    .containerg {
        grid-template-areas:
            'banner banner banner'
            'trending trending trending'
            'posts posts posts';

        border: 1px solid white;
    }

    .asideg {
        display: none;
    }
}

@media screen and (max-width: 750px) {
    .postg {
        width: 70vw;
    }

    .postfootertxtg {
        font-size: 0.6rem;
    }
}

@media screen and (max-width: 600px) {
    .postg {
        width: 70vw;
        padding: 0.5rem;
    }

    .upvotebtng {
        display: none !important;
    }

    .postbodyg p {
        font-size: 1em !important;
    }

    .postfooterg {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
    }

    .postfootertxtg {
        font-size: 0.6rem;
    }
}
