/* CSS Reset */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* CSS Variables */

html[data-theme='dark'] {
    --postheadcolor: #f871a0;
    --paracolor: white;
    --editorcolor: #18181b;
    --editorcolorfont: white;
    --editortoolbar: white;
}

html[data-theme='light'] {
    --postheadcolor: #c20e4d;
    --paracolor: #3f3f46;
}

/* Main Container */

.containerpe {
    display: grid;
    /* grid-template-columns: repeat(1, m); */
    /* grid-template-rows: auto auto 1fr; */
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-areas:
        'over over over over'
        'postspe postspe postspe asidepe'
        'commentspe commentspe commentspe .';
    grid-gap: 1.3rem;
    align-items: flex-start;
    justify-content: center;

    width: 100%;
    margin-left: auto;
    margin-right: auto;
    padding-left: 0.5rem;
    padding-right: 0.5rem;
    align-content: stretch;
    /* border: 1px solid red; */
}

.over {
    grid-area: over;
    margin-top: 1rem;
    /* border: 1px solid red; */
}

.asidepe {
    grid-area: asidepe;
    /* border: 1px solid red; */
}

.postspe {
    grid-area: postspe;
    /* border: 1px solid red; */
}

.commentspe {
    grid-area: commentspe;
    /* border: 1px solid red; */
}

/* Aside */

.asidepe {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    gap: 0.9rem;
}

.imgabout {
    height: max-content;
    width: 120px;
}

.imgtrophies {
    height: max-content;
    width: 30px;
}

.moreinfo {
    display: flex;
    justify-content: space-between;
    gap: 1rem;
}

/* Posts */

.postspe {
    display: flex;
    flex-direction: column;
    flex: wrap;
    flex-wrap: wrap;
}

.postpe {
    margin: 1rem;
    cursor: pointer;
}

.postbodype {
    display: flex;
    gap: 1rem;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center;
    text-wrap: balance;
}

.imgpostpe {
    height: max-content;
    width: 50px;
}

.postfootpe:hover {
    opacity: 0.7;
}

.flairpostpe:hover {
    opacity: 0.7;
}

.postheadingpe {
    color: var(--postheadcolor);
}

.postfootertxtpe {
    color: var(--paracolor);
    font-size: 1rem;
    font-weight: 700;
    text-wrap: stable;
}

/* Media Queries */

/* xs */
@media (min-width: 475px) {
    .containerpe {
        max-width: 475px;
    }
}

/* sm */
@media (min-width: 640px) {
    .containerpe {
        max-width: 640px;
    }
}

/* md */
@media (min-width: 768px) {
    .containerpe {
        max-width: 768px;
    }
}

/* lg */
@media (min-width: 1024px) {
    .containerpe {
        max-width: 1024px;
    }
}

/* xl */
@media (min-width: 1280px) {
    .containerpe {
        max-width: 1280px;
    }
}

/* 2xl */
@media (min-width: 1536px) {
    .containerpe {
        max-width: 1536px;
    }
}

@media screen and (max-width: 800px) {
    .containerpe {
        grid-template-areas:
            'over over over over'
            'asidepe asidepe asidepe asidepe'
            'postspe postspe postspe postspe'
            'commentspe commentspe commentspe .';
    }
}

@media screen and (max-width: 750px) {
    .postpe {
        width: 70vw;
    }

    .postfootertxtpe {
        font-size: 0.6rem;
    }
}

@media screen and (max-width: 600px) {
    .postpe {
        width: 70vw;
        padding: 0.5rem;
    }

    .upvotebtnpe {
        display: none !important;
    }

    .postbodype p {
        font-size: 1em !important;
    }

    .postfooterpe {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
    }

    .postfootertxtpe {
        font-size: 0.6rem;
    }
}
