/* CSS Reset */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* CSS Variables */

html[data-theme='dark'] {
    --postheadcolor: #f871a0;
    --paracolor: white;
    --editorcolor: #18181b;
    --editorcolorfont: white;
    --editortoolbar: white;
}

html[data-theme='light'] {
    --postheadcolor: #c20e4d;
    --paracolor: #3f3f46;
}

/* Main Container */

.containerpo {
    display: grid;
    grid-template-areas: 'posts posts aside';
    grid-gap: 1rem;
    align-items: flex-start;
    justify-content: center;

    width: 100%;
    margin-left: auto;
    margin-right: auto;
    padding-left: 0.5rem;
    padding-right: 0.5rem;
}

/* Aside */

.asidepo {
    grid-area: aside;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    gap: 0.9rem;
}

.abouthead {
    padding: 1.3rem;
    color: var(--paracolor) !important;
}

.stats {
    padding: 1.3rem;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1rem;
}

.info {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.created {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1rem;
}

/* Posts */

.postspo {
    grid-area: posts;
    display: flex;
    flex-direction: column;
    flex: wrap;
    flex-wrap: wrap;
}

.postpo {
    margin: 1rem;
    cursor: pointer;
}

.postbodypo {
    display: flex;
    gap: 1rem;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center;
    text-wrap: balance;
}

.imgpostpo {
    height: max-content;
    width: 50px;
}

.postfootpo:hover {
    opacity: 0.7;
}

.flairpostpo:hover {
    opacity: 0.7;
}

.postheadingpo {
    color: var(--postheadcolor);
}

.postfootertxtpo {
    color: var(--paracolor);
    font-size: 1rem;
    font-weight: 700;
    text-wrap: stable;
}

/* Comments */

.comments {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.writecomment {
    display: flex;
    flex-direction: column;
    margin: 1rem;
    gap: 1rem;
}

.ql-toolbar {
    color: var(--editortoolbar);
    background-color: #ffffff !important;
}

.ql-snow {
    color: var(--editorcolorfont);
    background-color: var(--editorcolor);
}

.ql-editor::before {
    color: var(--editorcolorfont) !important;
}

.writecomment {
    /* height: 30vh; */
}

.quill {
    /* height: 50%; */
}

.allcomments {
    display: flex;
    flex-direction: column;
    align-items: space-between;
}

.comment {
    margin: 1rem;
}

.ql-container {
    min-height: 10rem;
    height: 100%;
    flex: 1;
    display: flex;
    flex-direction: column;
}

.ql-editor {
    height: 100%;
    flex: 1;
    overflow-y: auto;
    width: 100%;
}

/* Media Queries */

/* xs */
@media (min-width: 475px) {
    .containerpo {
        max-width: 475px;
    }
}

/* sm */
@media (min-width: 640px) {
    .containerpo {
        max-width: 640px;
    }
}

/* md */
@media (min-width: 768px) {
    .containerpo {
        max-width: 768px;
    }
}

/* lg */
@media (min-width: 1024px) {
    .containerpo {
        max-width: 1024px;
    }
}

/* xl */
@media (min-width: 1280px) {
    .containerpo {
        max-width: 1280px;
    }
}

/* 2xl */
@media (min-width: 1536px) {
    .containerpo {
        max-width: 1536px;
    }
}

@media screen and (max-width: 800px) {
    .containerpo {
        grid-template-areas: 'posts posts posts';
    }

    .asidepo {
        display: none;
    }
}

@media screen and (max-width: 750px) {
    .postpo {
        width: 70vw;
    }

    .postfootertxtpo {
        font-size: 0.6rem;
    }
}

@media screen and (max-width: 600px) {
    .postpo {
        width: 70vw;
        padding: 0.5rem;
    }

    .upvotebtnpo {
        display: none !important;
    }

    .postbodypo p {
        font-size: 1em !important;
    }

    .postfooterpo {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
    }

    .postfootertxtpo {
        font-size: 0.6rem;
    }
}
